



1- Make a new method to build the tasks in the html from storage not directly from input (Store only:
task.id
p.class
p.textContent) ✔✔✔

2- Edit the input new task to store the object in a local storage. ✔✔✔

3- Implement display tasks on load. ✔✔✔


4- Edit delete methods Implementation to delete them from local storage instead of HTML. ✔✔✔

5- Maybe you have to reimplement the blue buttons.

6- Edit Rename tasks method to deal with localstorage.

7- Edit checkbox for tasks to deal with localstorage state.

8- Edit the behavior of blue buttons to deal with localstorage






